body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-image{
    width: 160px;

}

.card{
    width: 450px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin:0px auto;
    text-align: center;
    color: #2b2839;
    background-color: #b7e4c7; 
    border-bottom: 7px solid #d8cefe;
    border-radius: 10px;
    box-shadow: 5px 5px #adb5bd;
    
}

